#acesso{
    background-color: black;
    color:white;
    position: fixed;
    bottom: 0;
}

#menu-principal {
    background-color: #aaa;
    display: flex;
    justify-content: space-around;
}

#menu-principal li {
    display: inline-block;
    position: relative; /*para tornar os itens proporcionados*/
}

.submenu{
    background-color: #aaa;
    position: absolute;
    left: -1000px;
}

#menu-principal li:hover .submenu{
    left: 0px;
}