#acesso{
    background-color: black;
    color:white;
    position: fixed;
    bottom: 0;
    right: 0;
}

#menu-principal {
    background-color: #aaa;
    display: flex;
    justify-content: space-around;
}

#menu-principal li {
    adisplay: inline-block;
    aborder: 1px solid black;
    text-align: center;
    width: 100px;
    position: relative; /*para tornar os itens proporcionados*/
}

.submenu{
    background-color: #aaa;
    position: absolute;
    left: -1000px;
}

#menu-principal li:hover .submenu{
    left: 0;
}
