#acesso{
    background-color: black;
    color:white;
    position: fixed;
    bottom: 0;
    right: 0;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 strong{
font-weight: bold;
}

p {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

P strong{
    font-weight: bold;
}

img {
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
