body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    align-items: center;
    padding: 10px 20px;
}

#cabecalho img {
    height: 120px;
}

#cabecalho nav {
    display: flex;
    align-items: center;
}

#cabecalho nav a {
    margin: 0 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

#cabecalho nav a:hover {
    color: lightcoral;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer h4 {
    font-size: 1rem;
}

#corpo {
    position: relative;
    min-height: 100vh;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    color: lightcoral;
}